<div class="container">
  <h3> Login form </h3>

  <table>
    <form method="post" action="/login">

      <div>
        Email: <input type="text" placeholder="Enter Email" name="user[email]" required>

        Password: <input type="password" placeholder="Enter Password" name="user[password]" required>

        <button type="submit">Login</button>
      </div>
    </form>
  </table>
</div>